@media (max-width: 880px) {

    body, .perfil, .section-1, .dwm{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main, .text-1, .info, .container, .work, .play, .study, .exercise, .social, .self-care, .reticencias{
        display: flex;
    }



    html,
    body {
        background-color: var(--body-background);
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    body {
    }

    main {
        flex-direction: column;
    }

    /*Section do Perfil*/

    .perfil {
        background-color: var(--perfil-background);
        border-radius: 15px;
        width: 100%;
        height: 150px;
        text-align: right;
    }

    .foto-perfil {
        width: 80px;
    }

    .section-1 {
    }

    /*Texto do Perfil*/

    .text-1 {
        font-size: 15px;
        font-weight: 100;
        height: 15px;
        overflow-wrap: break-word;
        margin: 0;
        padding: 0;
        color: var(--fonte-secundaria);
    }

    .text-2 {
        font-size: 20px;
        color: var(--font-primaria);
        margin: 0 auto;
        width: 80px;
        
    }

    .text-3 {
        font-size: 20px;
        color: var(--font-primaria);
        padding: 0;
        margin: 0;
    }

    .info {
        padding-left: 20px;
        align-items: baseline;
        justify-content: left;
        width: 100%;

    }

    /*Datas do Perfil*/

    .datas {
        background-color: var(--datas-div-background);
        border-radius: 15px;
        margin-top: 0px;
        width: 100%;
        height: 150px;
        z-index: 1;
    }

    .dwm {
        flex-direction: row;
        width: 260px;
        height: 150px;
        gap: 10px;
    }

    .daily {
        color: var(--fonte-secundaria);
        font-size: 20px;
        padding-top: 60px;
        margin: 0;
        padding: 0;
    }

    .weekly {
        color: var(--font-primaria);
        font-size: 20px;
    }

    .monthly {
        color: var(--fonte-secundaria);
        font-size: 20px;
    }

    /*Divs Gerais*/

    .container {
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 650px;
        height: 418px;
        justify-content: space-between;
    }

    /*Divs Individuais*/

    .work,
    .play,
    .study,
    .exercise,
    .social,
    .self-care {
        position: relative;
        background-color: var(--datas-div-background);
        border-radius: 15px;
        width: 200px;
        height: 162px;
        z-index: 1;
    }

    /*Background das Divs*/

    .work-background,
    .play-background,
    .study-background,
    .exercise-background,
    .social-background,
    .self-care-background {
        border-radius: 15px;
        width: 200px;
        height: 170px;
        margin-top: -200px;
        z-index: -1;
    }

    .work-background {
        background-color: var(--work-background);
    }

    /*Div Play*/

    .play-background {
        background-color: var(--play-background);
    }

    /*Div Study*/

    .study-background {
        background-color: var(--study-background);
    }

    /*Div Play*/

    .play-background {
        background-color: var(--play-background);
    }

    /*Div Exercise*/

    .exercise-background {
        background-color: var(--exercise-background);
    }

    /*Div Social*/

    .social-background {
        background-color: var(--social-background);
    }

    /*Div Self Care*/

    .self-care-background {
        background-color: var(--self-care-background);
    }

    /*Configs padrões de todos as outras Divs*/

    .background-image {
        width: 50px;
        padding-left: 140px;
    }

    .reticencias {
        margin: 20px 0 0 160px;
        position: absolute;
        text-align: right;
        justify-content: right;
    }

    .titulos {
        display: inline-block;
        width: 150px;
        margin-left: 25px;
        text-align: center;
        line-height: 50px;
    }

    .titulo {
        color: var(--font-primaria);
        font-size: 15px;
        margin: 0px;
        text-align: left;
    }

    .tempo {
        color: var(--font-primaria);
        font-size: 40px;
        margin: 0;
        text-align: center;
    }

    .tempo-anterior {
        color: var(--font-primaria);
        font-size: 10px;
        margin: 0;
        text-align: center;
    }
}