@media (max-width: 800px) and (max-height: 800px) {
    
    .container {
        margin-left: -173px;
        max-width: 430px;
        padding-top: 240px;
        padding-bottom: 180px;
        row-gap: 80px;
    }

    main{
        width: 416px;
        margin: 0px;
        padding-bottom: 260px;
    }

    .perfil {
        background-color: var(--perfil-background);
        border-radius: 15px;
        margin-top: -100px;
        margin-left: 14px;
        width: 200px;
        height: 100px;
    }

    .foto-perfil {
        width: 80px;
        margin: -95px;
        padding-top: 105px;
        padding-left: none;
        position: absolute;
    }

    .perfil,
    .datas {
        padding-left: 108px;
        padding-right: 108px;
    }

    .text-1 {
        font-size: 15px;
        font-weight: 100;
        margin: -20px;
        padding-top: 20px;
        padding-left: 25px;
        color: var(--fonte-secundaria);
    }

    .text-2 {
        font-size: 30px;
        color: var(--font-primaria);
        margin: -80px;
        padding-top: 15px;
        padding-left: 145px;
        position: absolute;
    }

    .text-3 {
        font-size: 30px;
        color: var(--font-primaria);
        margin: -80px;
        padding-top: 30px;
        padding-left: 255px;
        position: absolute;
    }

    .datas {
        background-color: var(--datas-div-background);
        border-radius: 15px;
        margin-top: -40px;
        margin: 14px;
        width: 200px;
        height: 170px;
        position: relative;
        z-index: -1;
    }

    .dwm {
        margin: -100px;
        padding: 20px 20px 0 20px;
        width: 180%;
    }

    .daily,
    .weekly,
    .monthly {
        font-size: 20px;
        margin: none;
        padding-top: 100px;
        padding-left: 40px;
        display: inline-block;
        align-items: center;
    }

    .work,
    .play,
    .study,
    .exercise,
    .social,
    .self-care {
        background-color: var(--datas-div-background);
        border-radius: 15px;
        width: 416px;
        height: 65px;
        text-align: justify;
    }



    .work-background,
    .play-background,
    .study-background,
    .exercise-background,
    .social-background,
    .self-care-background {
        border-radius: 15px;
        width: 416px;
        height: 65px;
        margin-top: -100px;
        position: relative;
        z-index: -1;
    }

    .background-image {
        width: 50px;
        padding-left: 350px;
    }

    .tres-pontos {
        padding-left: 375px;
        padding-top: 2px;
        position: absolute;
    }

    .titulo {
        color: var(--font-primaria);
        font-size: 25px;
        padding-top: 15px;
        padding-left: 35px;
    }

    .tempo {
        color: var(--font-primaria);
        font-size: 35px;
        display: inline-block;
        margin: -55px;
        position: absolute;
        padding-top: 13px;
        padding-left: 200px;
    }

    .tempo-anterior {
        color: var(--font-primaria);
        font-size: 15px;
        margin: -40px;
        margin-left: 250px;
        padding-left: 10px;
        position: absolute;
    }

}