* {
    max-height: 612px;
    max-width: 800px;
    margin: auto;
    padding: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --body-background: rgb(40, 9, 151);
    --perfil-background: rgb(61, 23, 151);
    --font-primaria: rgb(255, 255, 255);
    --fonte-secundaria: rgba(255, 255, 255, 0.589);
    --datas-div-background: rgb(30, 1, 82);
    --work-background: rgb(206, 156, 83);
    --play-background: rgb(105, 195, 255);
    --study-background: rgb(252, 107, 252);
    --exercise-background: rgb(151, 255, 165);
    --social-background: rgb(118, 42, 218);
    --self-care-background: rgb(252, 249, 65);
}

body {
    background-color: var(--body-background);
}

aside {}

.container {
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Section do Perfil*/

.perfil {
    background-color: var(--perfil-background);
    border-radius: 15px;
    margin: auto;
    width: 200px;
    height: 250px;
}

.foto-perfil {
    width: 80px;
    padding-top: 25px;
    padding-left: 25px;
}

/*Texto do Perfil*/

.text-1 {
    font-size: 15px;
    font-weight: 100;
    padding-left: 5px;
    color: var(--fonte-secundaria);
}

.text-2 {
    font-size: 20px;
    color: var(--font-primaria);
    padding-top: 10px;
    padding-left: 5px;
}

.info {
    padding-left: 20px;
    padding-top: 25px;
}

/*Complemento do Perfil*/

.datas {
    background-color: var(--datas-div-background);
    border-radius: 15px;
    margin-top: -40px;
    width: 200px;
    height: 170px;
    position: relative;
    z-index: -1;
}

.dwm {
    padding-left: 25px;
}

.daily {
    color: var(--fonte-secundaria);
    padding-top: 55px;
}

.weekly {
    color: var(--font-primaria);
    padding-top: 15px;
}

.monthly {
    color: var(--fonte-secundaria);
    padding-top: 15px;
}

/*Section da frente*/

.work,
.play,
.study,
.exercise,
.social,
.self-care {
    background-color: var(--datas-div-background);
    border-radius: 15px;
    width: 200px;
    height: 150px;
}

/*Section de fundo*/

.work-background,
.play-background,
.study-background,
.exercise-background,
.social-background,
.self-care-background {
    border-radius: 15px;
    width: 200px;
    height: 150px;
    margin-top: -190px;
    position: relative;
    z-index: -1;
}

/*Section "Work"*/

.work-background {
    background-color: var(--work-background);
}

/*Section Play*/

.play-background {
    background-color: var(--play-background);
}

/*Section Study*/

.study-background {
    background-color: var(--study-background);
}

/*Section Play*/

.play-background {
    background-color: var(--play-background);
}

/*Section Exercise*/

.exercise-background {
    background-color: var(--exercise-background);
}

/*Section Social*/

.social-background {
    background-color: var(--social-background);
}

/*Section Self Care*/

.self-care-background {
    background-color: var(--self-care-background);
}

/*Config padrão de todos as outras Section*/

.background-image {
    width: 50px;
    padding-left: 140px;
}

.tres-pontos {
    padding-left: 150px;
    padding-top: 15px;
    position: absolute;
}

.titulo {
    color: var(--font-primaria);
    font-size: 15px;
    padding-top: 17px;
    padding-left: 25px;
}

.tempo {
    color: var(--font-primaria);
    font-size: 40px;
    padding-top: 10px;
    padding-left: 25px;
}

.tempo-anterior {
    color: var(--font-primaria);
    font-size: 10px;
    padding-top: 15px;
    padding-left: 25px;
}